body {
	margin:0px;
	margin-top:150px;
	align-items: center;
	font-family: Avenir, sans-serif;
    background-color: rgb(226, 222, 213);
    color:rgb(150,109,51);
}

#hero {
	margin: 190px 0px 100px 50px;
	display: rgb(150,109,51);
}

#hero>div {
	width: 50%;
	font-size: 1.7rem;
}

h1 {
	margin: 0px 0px 0px 30px;
}
div[id=header] {
	display: flex;
	align-items: center;
	background-color: white;
	height: 100px;
	width:100%;
	position: absolute;
	top:0;
	color: rgb(150,109,51);
	margin: 5px;
	font-family: 'Gill Sans', sans-serif;
}

#song {
	font-weight: 700;
	font-size: 4rem;
	margin: 0px 0px 0px 50px;
	
}
#album {
	font-size:2.5rem;
	margin: 0px 0px 50px 50px;
	font-weight: 100;
	color:rgb(150,109,51)
}

#pickfrom {
	text-align: right;
	text-transform: uppercase;
	font-size: 1.5rem;
	font-weight: 400;
	font-family: Avenir;
	margin-left:100px;
}

button {
	padding:10px;
	color: black;
	font-family: Avenir, sans-serif;
	font-weight: 700;
	font-size:1.5rem;
	margin-right: 50px;
	border: none;
	border-radius: 10px;
	border: 2px solid transparent;
	transition: 0.1s;
	margin-bottom: 30px;
	height: 70px;

}

button:hover {
	border: 5px solid rgb(150,109,51);
	transition: 0.1s;

}

button:active {
	border: 5px solid gold;
	color: rgb(150,109,51);
	box-sizing: border-box;
	transform: scale(1.08);
	transition: 0.1s;
	box-shadow: 1px 1px 8px white;
}

.logo {
	width:50px;
	height:56px;
	margin: 0px 15px;
}
#footer {
	background-color: white;
	position: absolute;
	bottom:0;
	height:100px;
	width:100%;
	display: flex;
	align-items: center;
	color: rgb(150,109,51);
	padding-left: 50px;
	font-size: 1.2rem;
}
#button-div{
	margin-left: 50px;
}
#display {
	border: 3px solid rgb(150,109,51);
	padding: 50px;
	margin: 30px;
	border-radius: 20px;
}
@media (max-width:950px) {
	#pickfrom {
		display:none;
	}
	#hero>img {
		display: none;
	}
	#hero>div {
		width: 90%;
	}
}
@media (max-width:600px) {
	#text {
		display: none;
	}
	#button {
		width:80%;
	}
	#song{
		font-size: 0.7rem
	}
	#album{
		font-size: 0.5rem
	}
}
@media (min-width: 800px) {
	button {
		width: 40%;
	}
}
@media (max-width: 800px) {
	button {
		width: 100%;
	}
}
